.title{
    font-size: 22px;
    font-weight: 300;
    margin-right: 15px;
}

.subtitle{
    font-size: 11px;
    font-weight: 300;
    color: '#e0d09e';
}

// .vertSpacing{
// margin-bottom: 2rem;
// }