.input-child > .input-field {
    height: 64px;
  }
  
  .validation-label {
    color: #daa520;
  }
  
  .validation-log-label {
    color: #8fcaf9;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 3px;
  }
  